<% provide(:title, t(".register")) %>
<%= render "layouts/pagetop" %>
<section class="blog-section spad">
  <div class="container margin-top">
    <div class="row align-items-center justify-content-center text-center">
      <h1 class="title text-white"><%= t ".register" %></h1>
    </div>
    <%= render "layouts/error" %>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-offset-3 col-lg-6">
        <%= render "form" %>
      </div>
    </div>
  </div>
</section>
