<section class="page-top-section set-bg" data-setbg="img/page-top-bg/2.jpg">
  <div class="page-info">
    <h2><%= yield(:title) %></h2>
    <div class="site-breadcrumb">
      <a href=""><%= t ".home" %></a>  /
      <span><%= yield(:title) %></span>
    </div>
  </div>
</section>
